<% provide(:title, 'Home') %>

<div class="row common-header">
  <div class="col-md-12">
		<div class="row sort">
		  <div class="col-xs-6 sort-box active">
		  	推荐
		  </div>
		  <div class="col-xs-6 sort-box">
		  	关注
		  </div>
		</div>
  </div>
</div>

<div class="row home">
  <div class="col-md-4 home-content">
  	<div class="row">
		  <div class="col-xs-2 home-avatar">
		  	<%= image_tag("avatar", size: "36") %>
		  </div>
		  <div class="col-xs-10">
		  	<p><small>Shin Zhang</small></p>
		   	<div class="embed-responsive embed-responsive-16by9">
				  <iframe src="https://www.youtube.com/embed/1C-6BdvRkbw" frameborder="0" allowfullscreen></iframe>
				</div> 	
				<p><small>是否不希望在小屏幕设备上所有列都堆叠在一起？那就使用针对超小屏幕和中等屏幕设备所定义的类吧。</small></p>
				<ul class="list-inline home-social">
			  	<li><i class="fa fa-heart-o"></i></li>
				  <li><i class="fa fa-comment-o"></i></li>
				  <li><i class="fa fa-share-square-o"></i></li>
				</ul>
		  </div>
		</div>
  </div>

  <div class="col-md-4 home-content">
  	<div class="row">
		  <div class="col-xs-2 home-avatar">
		  	<%= image_tag("avatar", size: "36") %>
		  </div>
		  <div class="col-xs-10">
		  	<p><small>Shin Zhang</small></p>
		   	<div class="embed-responsive embed-responsive-16by9">
				  <iframe src="https://www.youtube.com/embed/1C-6BdvRkbw" frameborder="0" allowfullscreen></iframe>
				</div> 	
				<p><small>是否不希望在小屏幕设备上所有列都堆叠在一起？那就使用针对超小屏幕和中等屏幕设备所定义的类吧。</small></p>
				<ul class="list-inline home-social">
			  	<li><i class="fa fa-heart-o"></i></li>
				  <li><i class="fa fa-comment-o"></i></li>
				  <li><i class="fa fa-share-square-o"></i></li>
				</ul>
		  </div>
		</div>
  </div>

  <div class="col-md-4 home-content">
  	<div class="row">
		  <div class="col-xs-2 home-avatar">
		  	<%= image_tag("avatar", size: "36") %>
		  </div>
		  <div class="col-xs-10">
		  	<p><small>Shin Zhang</small></p>
		   	<div class="embed-responsive embed-responsive-16by9">
				  <iframe src="https://www.youtube.com/embed/1C-6BdvRkbw" frameborder="0" allowfullscreen></iframe>
				</div> 	
				<p><small>是否不希望在小屏幕设备上所有列都堆叠在一起？那就使用针对超小屏幕和中等屏幕设备所定义的类吧。</small></p>
				<ul class="list-inline home-social">
			  	<li><i class="fa fa-heart-o"></i></li>
				  <li><i class="fa fa-comment-o"></i></li>
				  <li><i class="fa fa-share-square-o"></i></li>
				</ul>
		  </div>
		</div>
  </div>
</div>


