<% provide(:title, 'Home') %>

<div class="row home">
  <div class="col-md-4">
  	<div class="row">
		  <div class="col-xs-2">
		  	<%= image_tag("avatar", size: "40") %>
		  </div>
		  <div class="col-xs-10">
		   	<div class="embed-responsive embed-responsive-16by9">
				  <iframe src="https://www.youtube.com/embed/1C-6BdvRkbw" frameborder="0" allowfullscreen></iframe>
				</div> 	
				<p>是否不希望在小屏幕设备上所有列都堆叠在一起？那就使用针对超小屏幕和中等屏幕设备所定义的类吧，即 .col-xs-* 和 .col-md-*。</p>
				<ul class="list-inline">
			  	<li><i class="fa fa-heart-o"></i></li>
				  <li><i class="fa fa-comment-o"></i></li>
				  <li><i class="fa fa-share-square-o"></i></li>
				</ul>
		  </div>
		</div>
  </div>
</div>
