<% provide(:title, 'tags') %>
<div class="row common-header">
  <div class="col-md-12">
    <input type="text" class="form-control input-sm search" placeholder="search">
  </div>
</div>

<div class="row topic">

</div>

<div class="row tag-list tag-1">
  <div class="col-xs-12 tag">
  	<p>太极拳</p>
  </div>
</div>

<div class="row tag-list tag-2">
  <div class="col-xs-12 tag">
  	<p>跆拳道</p>
  </div>
</div>

<div class="row tag-list tag-3">
  <div class="col-xs-12 tag">
  	<p>空手道</p>
  </div>
</div>

<div class="row tag-list tag-4">
  <div class="col-xs-12 tag">
  	<p>马伽术</p>
  </div>
</div>

<div class="row tag-list tag-5">
  <div class="col-xs-12 tag">
  	<p>合气道</p>
  </div>
</div>