@import "bootstrap-sprockets";
@import "bootstrap";
@import "jasny-bootstrap.min";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$white: #FFFFFF;
$ftg-red: #FF0033;

/* miscellaneous */

.debug_dump {
  margin-left: 20px;
  clear: both;
  float: left;
  width: 280px;
  margin-top: 45px;
  @include box_sizing;
}

html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navmenu {
  padding-top: 15px;
}

.navmenu, .navbar-offcanvas {
    width: 240px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

.navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas {
  z-index: 9999;
}

@media (min-width: 100px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

.ftglogo {
	margin-left: 15px;
}


/* Home Page */
.home {
	margin-top: 15px;
}

/* User Show */

.user-show {
  background-color: #FF0033;
  color: #FFFFFF;
}

.user-show-head {
  .left i {
    margin-left: 15px;
    margin-top: 15px;
  }
  .center h5 {
    margin-top: 15px;
  }
  .right i {
    margin-right: 15px;
    margin-top: 15px;
  }
}

.avatar {
  margin-top: 10px;
  border-style: solid; border-width: 2px; border-color: #FFFFFF;
}

.user-show-content {
  margin-bottom: 20px;
}

.user-show-video {
  background-color: #000000;
  max-width: 100%;
  margin-left: 0px;
  .col-xs-4{
      padding: 1px;
      max-width: 100%;
    img {
      width: 100%;
    }
  }
}

.list-inline>li {
  padding-right: 10px;
  padding-left: 10px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    color: $white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
  strong {
    display: block;
  }
}

/* following */

.shwo-follow-head {
  height: 40px;
  background-color: $ftg-red;
  width: 100%;
  .col-md-12 {
    i {
      margin-top: 6px;
      color: $white;
    }
    p {
      margin-top: -24px;
      color: $white;
    }
  }
}

.following {
  .avatar {
    margin-top: 0px;
    margin-left: 8px;
    border-style: none;
    border-width: 0px;
  }
  .username {
    min-width: 180px;
  }
  .btn {
    margin-top: 4px;
  }
  p {
    margin: 0 0 0px;
  }
  small {
    color: #888888;
  }
}
    
