@import "bootstrap-sprockets";
@import "bootstrap";
@import "jasny-bootstrap.min";
@import "font-awesome";

html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 15px;
}

.navmenu, .navbar-offcanvas {
    width: 240px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

.navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas {
  z-index: 9999;
}

@media (min-width: 100px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

.ftglogo {
	margin-left: 15px;
}

/* Home Page */
.home {
	margin-top: 15px;
}