<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
  <a class="navmenu-brand visible-md visible-lg" href="#">Project name</a>
    <%= image_tag("shin-avatar", size: "36", class: "img-circle ftglogo") %>
    <h5 class="ftglogo">Shin Zhang</h5>
  <hr>
  <ul class="nav navmenu-nav">
    <li><a href="./"><i class="fa fa-youtube-play"></i>推荐</a></li>
    <li><a href="../navmenu-push/"><i class="fa fa-search"></i>发现</a></li>
    <li><a href="../navmenu-reveal/"><i class="fa fa-star"></i>发布</a></li>
    <li><a href="../navbar-offcanvas/"><i class="fa fa-envelope"></i>消息</a></li>
    <li><a href="../navbar-offcanvas/"><i class="fa fa-user"></i>个人信息</a></li>
  </ul>
  <hr>
  <%= image_tag("ftglogo", width: '98', class: "ftglogo" ) %>
</div>

<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <!--<a class="navbar-brand" href="#">Project name</a> -->
</div>